button{
    border-radius: 100px;
    border: 0px;
    padding: 8px;
    width: 105px;
    background-color: #f84141;
    color: white;
    font-size: 15px;
    font-weight: 700;
    
}

button:hover{
    cursor: pointer;
    background-color: #d53838;
}
