body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.form-wrap{
    background-color: #F9F7F3;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 250px;
}

.form-wrap>input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #F7A072;
    margin-bottom: 10px;
}

.form-wrap>label{
    padding: 10px;
}

.form-wrap>input[type="submit"]{
    margin-top: 30px;
    width: 100px;
    background-color: #F7A072;
    color: white;
}


.true{
    display: block;
    position: absolute;
}

.false{
    display: none;
}