.menu-wrap{
    background-color: rgb(241, 241, 241);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 150px;
}


.menu-item{
   
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(193, 193, 193);
}


.item-actions>form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.price{
    color: #f84141;
}

.ingred{
    font-style: italic;
}
.amount-inp{
    width: 30px !important;
}